.search-bar {
	margin: 20px;
	text-align: center;	
}

.search-bar input {
	width: 75%;
	border: 1px solid #1d6698;
	transition: all 0.3s ease;
	border-radius: 3px;
	padding: 3px;
}

.search-bar input:focus {
	box-shadow: 0 0 5px #1d6698;
}

.video-item img {
	min-width: 64px;
}

.video-detail .details {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

